* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-color: white;
}
html body {
  height: 100vh;
}
main {
  height: 200vh;
  background: linear-gradient(to top, rgb(70, 70, 10), rgb(70, 70, 130));
}
.topbar {
  height: 14vh;
  width: 100%;
  position: absolute;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background: linear-gradient(to bottom, rgb(10, 10, 12), rgb(70, 70, 130));
  box-shadow: 0px 0px 40px rgb(70, 70, 130);
}
.logo {
  height: 100%;
  width: 20rem;
}
/*exp*/
#logo-name {
  font-size: 3rem;
  padding: 0.5rem;
  margin-left: 1.5rem;
}
/*end exp*/
.buttons {
  height: 100%;
  width: 42rem;
  display: flex;
  padding: 0.5rem;
  position: relative;
}
#button1,
#button2,
#button3 {
  height: 70%;
  width: 12rem;
  background: transparent;
  position: absolute;
  font-size: 1.5rem;
}
#button2 {
  left: 14.5rem;
}
#button3 {
  left: 29rem;
}
#button1:hover,
#button2:hover,
#button3:hover {
  height: 80%;
  width: 12.5rem;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
