* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Crimson Pro", cursive, sans-serif;
  font-size: 18px;
}
::selection {
  color: bisque;
  background: rgb(107, 107, 127);
}
::-moz-selection {
  color: bisque;
  background: rgb(107, 107, 127);
}
html body {
  height: 100vh;
}
main {
  height: 100vh;
  min-height: 500px;
  min-width: 290px;
  /*background: linear-gradient(to top, rgb(30, 30, 6), rgb(30, 30, 70));*/
  background: bisque;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.topbar {
  height: 11vh;
  min-height: 58px;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background: linear-gradient(
    to bottom right,
    rgb(20, 20, 24),
    rgb(10, 10, 14)
  );
  box-shadow: 0px 1px 2px gray;
  z-index: 2;
}
.middle-section {
  height: 50vh;
  width: 70vw;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.footer {
  height: 7vh;
  width: 100%;
  background: linear-gradient(
    to top right,
    rgba(20, 20, 24, 0.2),
    rgba(10, 10, 14, 0.2)
  );
  box-shadow: 0px -1px 2px gray;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.logo {
  height: 100%;
  width: 20rem;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}
/*exp*/
#top-icon {
  width: 30rem;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: -100px;
  opacity: 0.4;
}
#bottom-circle {
  width: 16rem;
  position: absolute;
  z-index: 1;
  bottom: 10vh;
  right: 6vw;
  opacity: 0.3;
}
#logo-name {
  font-size: 2.6rem;
  text-shadow: 1px 1px 4px gray;
  color: bisque;
}
#copy {
  color: rgb(10, 10, 14);
  text-shadow: 0px 0px 6px gray;
}
#internal-heading {
  font-size: 2.2rem;
  margin: 1rem;
  margin-bottom: 2rem;
  color: rgb(10, 10, 14);
}
#diescription {
  color: rgb(10, 10, 14);
  font-size: 1.2rem;
}
/*end exp*/
.buttons {
  height: 100%;
  max-height: 5.5rem;
  width: 50%;
  min-width: 330px;
  display: flex;
  padding: 0.8em;
  justify-content: space-between;
}

#button1,
#button2,
#button3 {
  height: 96%;
  width: 30%;
  background: transparent;
  font-size: 1.5rem;
  text-shadow: 0px 0px 6px gray;
  box-shadow: 1px 1px 2px darkgray, -0px -0px 2px gray;
  border: none;
  color: bisque;
  border-radius: 8px;
}
#button1:hover,
#button2:hover,
#button3:hover {
  height: 100%;
  background: rgba(200, 200, 220, 0.1);
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  html {
    font-size: 75%;
  }
  .topbar {
    justify-content: space-around;
  }
  .buttons {
    width: 100vw;
    min-width: 300px;
    max-height: 5rem;
    background: linear-gradient(
      to bottom right,
      rgb(20, 20, 24),
      rgb(10, 10, 14)
    );
    box-shadow: 0px 2px 6px rgb(10, 10, 14);
    justify-content: space-around;
  }
  #top-icon {
    top: 11vh;
    left: -80px;
  }
  #internal-heading {
    font-size: 2.7rem;
  }
  #diescription {
    font-size: 1.5rem;
  }
}
