* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
}
html body {
  height: 100vh;
}
main {
  height: 100vh;
  background: linear-gradient(to top, rgb(70, 70, 10), rgb(70, 70, 130));
}
.topbar {
  height: 14vh;
  width: 100%;
  position: absolute;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background: linear-gradient(to bottom, rgb(10, 10, 12), rgb(70, 70, 130));
  box-shadow: 0px 0px 40px rgb(70, 70, 130);
}
.logo {
  height: 100%;
  width: 20rem;
}
/*exp*/
#logo-name {
  font-size: 3rem;
  padding: 0.5rem;
  margin-left: 1.5rem;
}
/*end exp*/
.buttons {
  height: 100%;
  max-height: 5.5rem;
  width: 50%;
  min-width: 300px;
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
}

#button1,
#button2,
#button3 {
  height: 90%;
  width: 30%;
  background: transparent;
  font-size: 1.5rem;
}
#button1:hover,
#button2:hover,
#button3:hover {
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 75%;
  }
  .topbar {
    justify-content: space-around;
  }
}
