* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Crimson Pro", cursive, sans-serif;
  font-size: 18px;
}
::selection {
  color: rgb(255, 241, 233);
  background: rgb(107, 107, 127);
}
::-moz-selection {
  color: rgb(255, 241, 233);
  background: rgb(107, 107, 127);
}
html body {
  height: 100vh;
}
main {
  height: 100vh;
  min-height: 500px;
  min-width: 290px;
  background: rgb(255, 241, 233);
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.topbar {
  height: 11vh;
  min-height: 60px;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(
    to bottom right,
    rgb(20, 20, 24),
    rgb(10, 10, 14)
  );
  box-shadow: 0px 1px 4px rgba(20, 20, 24, 0.5);
  z-index: 3;
}
.middle-section {
  height: 50vh;
  width: 70vw;
  padding: 1rem 0rem 1rem 0rem;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.footer {
  height: 7vh;
  width: 100%;
  background: linear-gradient(
    to top right,
    rgba(20, 20, 24, 0.5),
    rgba(10, 10, 14, 0.4)
  );
  box-shadow: 0px 1px 6px rgba(10, 10, 14, 0.8);
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.logo {
  height: 100%;
  width: 20rem;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.logo:hover {
  cursor: pointer;
}
#top-icon {
  width: 30rem;
  max-height: 100vh;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: -100px;
  opacity: 0.4;
  filter: blur(4px);
  pointer-events: none;
}
#bottom-circle {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  background: rgb(255, 241, 233);
  box-shadow: 0.08rem 0.08rem 0 0.16rem rgb(10, 10, 14);
  position: absolute;
  bottom: 15vh;
  right: 8vw;
  z-index: 1;
  opacity: 0.3;
  filter: blur(3px);
}
#logo-name {
  font-size: 2.8rem;
  text-shadow: 1px 1px 6px rgb(194, 194, 194);
  color: rgb(255, 241, 233);
  position: relative;
  right: 1rem;
}
#copy {
  color: rgb(10, 10, 14);
  text-shadow: 0px 0px 6px gray;
  text-align: center;
  font-size: 1.1rem;
  text-shadow: 1px 1px 6px rgba(10, 10, 14, 0.6);
}
.buttons {
  height: 100%;
  max-height: 5.5rem;
  width: 50%;
  min-width: 460px;
  display: flex;
  padding: 0.8em;
  justify-content: space-between;
}
.project-dropdown,
.menu {
  width: 30%;
}
#button1,
#button2,
#button3 {
  height: 96%;
  width: 100%;
  background: transparent;
  font-size: 1.4rem;
  text-shadow: 0px 0px 6px gray;
  box-shadow: 0.6px 0.6px 1px darkgray, 0px 0px 2px gray;
  border: none;
  color: rgb(255, 241, 233);
  border-radius: 8px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#button1:hover,
#button2:hover,
#button3:hover {
  height: 100%;
  background: rgba(200, 200, 220, 0.1);
  box-shadow: 1px 1px 2px darkgray, 0px 0px 2px gray;
  cursor: pointer;
}
.project-list {
  width: 60%;
  background: rgb(10, 10, 14);
  display: none;
  border-radius: 8px;
  position: absolute;
  left: 20%;
  top: 11vh;
}
.project-name {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  font-size: 1.4rem;
  text-shadow: 0px 0px 6px gray;
  border: none;
  color: rgb(255, 241, 233);
  background: transparent;
  padding: 0.3rem 0rem 0.5rem 0rem;
  z-index: 3;
}
.project-name:hover {
  cursor: pointer;
  background: rgba(200, 200, 220, 0.1);
}
#dropdown-icon {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  pointer-events: none;
  font-size: 0.8rem;
  position: relative;
  top: 0.1rem;
}
.normalText {
  font-size: 1.2rem;
  text-shadow: 1px 1px 6px rgba(10, 10, 14, 0.6);
}

/************Home*******************/
#homeMid {
  width: 80vw;
  display: flex;
  display: -webkit-flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.me {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  box-shadow: 0px 0px 12px 12px rgba(10, 10, 14, 0.4);
  filter: blur(0.2px);
  pointer-events: none;
}
.about-me {
  width: 50vw;
  min-width: 260px;
  font-size: 1.2rem;
  text-shadow: 1px 1px 6px rgba(10, 10, 14, 0.6);
}
#my-photo {
  width: 15rem;
  height: auto;
  border-radius: 50%;
  text-shadow: 1px 1px 6px rgba(10, 10, 14, 0.6);
}
#home-heading {
  font-size: 2.2rem;
  margin: 1rem;
}

/*************Contacts*****************/
#contMid {
  display: none;
}
.form {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#internal-heading {
  font-size: 2.2rem;
  margin: 1rem;
  margin-bottom: 2rem;
  color: rgb(10, 10, 14);
  text-shadow: 1px 1px 6px rgba(10, 10, 14, 0.6);
}
.socialLinks {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  padding: 1rem;
}
.socialIcon {
  margin: 0.6rem;
  width: 1.8rem;
  opacity: 0.8;
  box-shadow: 1px 1px 6px rgba(10, 10, 14, 0.6);
}
.socialIcon:hover {
  opacity: 0.9;
  width: 1.9rem;
  margin: 0.5rem;
}
#contactMe {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  width: 50vw;
}
#name {
  margin: 0.1rem;
  padding: 0.3rem 0.6rem;
  margin-bottom: 0.2rem;
  border: 0.2rem solid rgba(10, 10, 14, 0.5);
  box-shadow: 1px 1px 6px rgba(10, 10, 14, 0.6);
  font-size: 1.2rem;
}
#description {
  margin: 0.1rem;
  padding: 0.5rem 0.6rem;
  border: 0.2rem solid rgba(10, 10, 14, 0.5);
  box-shadow: 1px 1px 6px rgba(10, 10, 14, 0.6);
  font-size: 1.2rem;
}
#submit {
  font-size: 1.2rem;
  color: rgb(10, 10, 14);
  padding: 0.2rem;
  margin-top: 0.5rem;
  border: 0.2rem solid rgba(10, 10, 14, 0.5);
  box-shadow: 1px 1px 6px rgba(10, 10, 14, 0.6);
  text-shadow: 1px 1px 6px rgba(10, 10, 14, 0.6);
}
#submit:hover {
  background-color: rgba(10, 10, 14, 0.1);
}
